@import '~ngx-toastr/toastr';

.formulary {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 
    0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    margin: 5%;
    text-align: center;
}
 
.header {
    padding: 2%;
}
 
.frame {
    margin: 0% 10% 0% 10%;
    text-align: center;
    align-items: center;
    align-content: center;
}
 
.container {
    width: 60%;
}
 
mat-form-field {
    width: 100%;
}
 
.mat-raised-button {
    padding: 0.1% 5% 0% 5%;
    margin-left: 1%;
    margin-bottom: 2%;
}
 
.form-group {
    display: inline;
}
 
.title {
    text-align: center;
    margin-top: 1%;
}
 
.trashIcon {
    color: red;
    position: absolute;
    right: 0vw;
    cursor: pointer;
}
 
.addIcon {
    color: rgb(74, 138, 150);
    position: absolute;
    right: 5.3vw;
    bottom: 20vw;
    cursor: pointer;
}

